@import url('https://fonts.googleapis.com/css?family=Roboto');

#toolkit-parent {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    visibility: hidden;
    z-index: 9;
}

#tkblack-layer {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    color: white;
    opacity: 0.8;
}

#toolkit-parent .toolkit-block {
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 4px;
    width: 500px;
    border: 3px gray solid;
    background-color: white;
    color: black;
    font-family: 'Roboto', Arial;
    font-size: 12px !important;
    border-radius: 10px;
    visibility: hidden;
    overflow: hidden;
}

#toolkit-parent #window-head {
    width: 100%;
    height: 25px;
    padding-left: 5px;
    margin-bottom: 2px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    background-color: #f6f8fa;
    user-select: none;
}

#toolkit-parent #window-head .wbuttons-float {
    float: right;
    height: 100%;
    padding: 2px;
    display: none;
}

#toolkit-parent #window-head .button-head {
    width: 16px;
    height: 16px;
}

#toolkit-parent .error-raise {
    padding: 2px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 12px;
    background-color: #ff3333;
    color: #ffeaea;
    width: 100%;
    display: none;
}

#toolkit-parent .error-raise.visible {
    display: block;
}

#toolkit-parent #window-options {
    width: 100%;
    text-decoration: none;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
}

#toolkit-parent #window-options ul {
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

#toolkit-parent #window-options ul li {
    width: 100px;
    display: inline-block;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
}

#toolkit-parent #window-options ul li.selected {
    background-color: black;
    font-weight: bold;
    border-top: 1px gray solid;
    color: white;
}

#toolkit-parent #window-options ul li:not(:first-child) {
    margin-left: 4px;
}

#toolkit-parent #window-content {
    width:100%;
    position:relative;
}

#toolkit-parent #window-content button {
    width:85% !important;
    padding:5px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #7c98ab !important;
    border-radius: 5px !important;
    border-bottom-color: #4a5b66 !important;
    border-bottom: 2px solid !important;
    color: #f1f4f6 !important;
    font-weight: bold !important;
}

#toolkit-parent #window-content .tkcont-child {
    display: inline-block;
    height: 100%;
    width: 50%;
    padding: 2px;
}

#toolkit-parent #window-content .noback {
    background-color: transparent !important;
}

#toolkit-parent #window-content .title {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    color: blue;
    background-color: #f2f2f2;
    padding: 10px;
}

#toolkit-parent #window-content #slang-container .meaning {
    width: 100%;
    background-color: #d8d8d8;
    padding: 5px;
    box-sizing: border-box;
}


#toolkit-parent #window-content #definition-container .meaning {
    width: 100%;
    background-color: #d8d8d8;
    padding: 5px;
    box-sizing: border-box;
}

#toolkit-parent #window-content #hexconverter-container {
    width: 100%;
    height: 100%;
    padding:0px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f2f2f2;
}

#toolkit-parent #window-content #hexcalc-data input {
    width:40%;
}

#toolkit-parent #window-content #hexcalc-data input, select {
    height:22px !important;
    font-size:16px !important;
    font-weight: bold !important;
    background-color: transparent;
    border-bottom-color: blue;
    border-top:none;
    border-left: none;
    border-right: none;
}

#toolkit-parent #window-footer {
    display: block;
}